body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(15, 15, 15);
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
#background img {
  position: absolute;
  z-index: -1;
  filter: grayscale(100%);
  width: 100%;
  height: 99%;
}
nav {
  background-color: transparent;
  height: 70px;
  display: flex;
  align-items: center;
}
nav img {
  width: 180px;
  margin: 5px;
}
.nav-bar a {
  margin-left: 30px;
  font-weight: 700;
  transition: all 0.3s;
}
.nav-bar a:hover {
  border-bottom: 2px solid #fff;
  font-size: 18px;
}
.content {
  margin: 0 10%;
  margin-top: 10px;
}
.space-between {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: rgba(51, 51, 51, 0.8);
  border: none;
  color: #fff;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  margin: 5px 5px 0 0;
}
button:hover {
  background-color: rgba(51, 51, 51, 0.6);
  cursor: pointer;
  transition: all 0.3s;
  color: rgb(179, 2, 170);
}
h2 {
  color: rgb(179, 2, 170);
}

.row{
    display: flex;
}
.row div{
  width: 100%;
}
.pl-5{
  padding-left: 50px;
}

video{
  width: 100%;
}

button i{
  margin-right: 5px;
}