body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(15, 15, 15);
}
*{
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
#background img{
  position: absolute;
  z-index: -1;
  filter: grayscale(100%);
  width: 100%;
  height: 99%;
}
nav{
  background-color: transparent;
  height: 100px;
    display: flex;
  align-items: center;
}
nav img{
  width: 180px;
  margin: 5px;
}
.nav-bar a{
  margin-left: 30px;
}
.content{
    margin: 0 10%;
    margin-top: 10px;
}
.space-between{
    display: flex;
    justify-content: space-between;
}

button {
  background-color: rgba(51, 51, 51, .8);
  border: none;
  color: #fff;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
}
button:hover{
  background-color: rgba(51, 51, 51, .6);
  cursor: pointer;
  transition: all .3s;
  color: rgb(179, 2, 170);
}
h2{
  color: rgb(179, 2, 170);
}

