#home {
  color: #fff;
  display: flex;
  flex-direction: column;
}

video{
  width: 100%;
  filter: grayscale(100%);
}
video:hover{
  filter: grayscale(0);
}
#container-video-main{
  height: 610px;
  overflow: hidden;
}
#home nav{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

#home .row{
  margin-top: 20px;
}

.row img{
  filter: grayscale(100%);
  border:3px solid rgb(141,1, 121);
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
.row img:hover{
  filter: grayscale(0);
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0; 
  right: 0;
  bottom: 0; 
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all .6s;
  z-index: 10;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal_content {
  border-radius: 4px;
  position: relative;
  max-width: 90%;
  background: rgb(36, 35, 35);
  padding: 1.5em 2em;
}
.modal_content video{
  filter: grayscale(0);
}
.modal_content p {
  margin: 0;
  line-height: 30px;
  text-align: justify;
}
.modal_close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 30px;
  color: grey;
  text-decoration: none;
}
#popular{
  margin-bottom: 80px;
}