body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
*{
  box-sizing: border-box;
}
#background img{
  position: absolute;
  z-index: -1;
  filter: grayscale(100%);
  width: 100%;
  height: 99%;
}
nav{
  background-color: transparent;
  height: 100px;
    display: flex;
  align-items: center;
}
nav img{
  width: 180px;
  margin: 5px;
}
form{
  background-color: rgba(131, 131, 131, 0.575);
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #fff;
  border-radius: 10px;
}
input{
  padding: 16px 20px;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  background-color: #333;
  font-size: 16px;
  color: #fff;
  opacity: .8;
  outline: none;
}
input[type=submit]{
  background-color: rgb(141,1, 121);
  font-weight: 700;
  text-transform: uppercase;
}
input[type=submit]:hover{
  background-color: rgb(95, 2, 81);;
  cursor: pointer;
}

input[type=email]:focus,
input[type=password]:focus,
input[type=email]:hover,
input[type=password]:hover{
  opacity: 1;
  background-color: rgb(34, 34, 34);
}

label{
  color: #fff;
  margin-left: 10px;
}
p{
  color: rgb(22, 178, 173);
  font-weight: 700;
}
a{
  color: #fff;
}
.content{
    display:flex ;
    justify-content: center;
    margin-top: 150px;
}

/* HOME */
#home {
  background-color: #141414;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.nav-bar a{
  margin-left: 30px;
}
a {
  text-decoration: none;
  color: white;
}
video{
  width: 100%;
}
#video{
  height: 700px;
  overflow: hidden;
}
#home nav{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}